.navbar-container {
    height: 60px;
}

.text-secondary {
    color: #6c757d!important;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-item-container {
    height: 100%;
    width: 200px;
    position: relative;
    transition: border-bottom-width 0.5s ease-in;
}

.ml-2, .mx-2 {
    margin-left: .5rem!important;
    font-weight: 500;
    font-size: 18px;
}

.ml-2:hover {
    color: lightslategray;
    cursor: pointer;
}

*, ::after, ::before {
    box-sizing: border-box;
}